fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
sqlalchemy==2.0.43
alembic==1.20.0
psycopg[binary]==3.2.9
httpx==0.28.1
pandas==2.3.2
numpy==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
joblib==1.5.2
pypdf==6.0.0
